.itemContainer {
    display: flex;
    gap: 24px;
    min-height: 368px;
}

.photoImage {
    width: 292px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main);
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main);
    max-width: 360px;
}

.ratingContainer {
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    align-items: center;
}

.reviewText {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    margin-right: 16px;
}

.descriptionText {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
}

.infoContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.showMoreButton {
    border-radius: 200px;
    width: 166px;
    height: 56px;
    background-color: var(--button);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
}

.showMoreButton:hover {
    background-color: var(--button-hover);
}

.favButton {
  background: transparent;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
